.signup {
  display: flex;
  min-height: calc(100vh - 56px);
  align-items: center;
  justify-content: center;
  color: white;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 54%, rgba(0, 212, 255, 1) 100%);
}

.signup .auth-form-container,
.signup .login-form .register-form {
  display: flex;
  flex-direction: column;
}

.signup label {
  text-align: left;
  padding: 0.25rem 0;
}

.signup .input-form {
  min-width: 26.25rem;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}

.background-blur {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  opacity: 0.5;
}

.signup .signup-btn {
  border: none;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  color: #7439db;
  margin-top: 2rem;
}

.signup .link-btn {
  margin-top: 2rem;
  background: none;
  color: white;
  border: none;
}

.signup .error {
  margin: 0.5rem;
  color: #ff3333;
}

.signup .loading {
  position: absolute;
  left: 50%;
  top: 50%;
}
