.login {
  display: flex;
  min-height: calc(100vh - 56px);
  align-items: center;
  justify-content: center;
  color: white;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 54%, rgba(0, 212, 255, 1) 100%);
}

.login .ant-checkbox-wrapper {
  align-items: center;
  color: white;
}

.login .login-title {
  font-size: 2.5rem;
  text-align: center;
  font-weight: 700;
  letter-spacing: 1px;
}

.login .auth-form-container,
.login .login-form,
.login .register-form {
  display: flex;
  flex-direction: column;
}

.login label {
  text-align: left;
  padding: 0.25rem 0;
}

.login .input-form {
  min-width: 26.25rem;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}

.login .login-btn {
  background: rgb(0, 212, 255);
  background: linear-gradient(90deg, rgba(0, 212, 255, 1) 0%, rgba(116, 57, 219, 1) 100%);
  border-radius: 10px;
  height: 48px;
  cursor: pointer;
  color: white;
  margin-top: 1rem;
}
.login .login-btn:hover {
  color: white;
  transform: scale(1.05);
}

.login .link-btn {
  margin-top: 1rem;
  background: none;
  color: white;
  border: none;
}

.login .error {
  margin-top: 0.5rem;
  color: #ff3333;
}

.login .login-option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: white;
}

.login .forget-option {
  text-decoration: none;
  color: white;
}

.login .link-btn a {
  color: aqua;
  text-decoration: none;
}
.login .link-btn a:hover {
  opacity: 0.6;
}
.login .link-btn a:active {
  opacity: 0.8;
}
.login .forget-option:hover {
  color: aqua;
}
