.Login {
  text-align: center;
  display: flex;
  height: calc(100vh - 56px);
  align-items: center;
  justify-content: center;
  color: white;
  background-image: linear-gradient(79deg, #7439db, #6f83c6 48%, #45bef7);
}

.auth-form-container,
.login-form,
.register-form {
  display: flex;
  flex-direction: column;
}

label {
  text-align: left;
  padding: 0.25rem 0;
}

.input-form {
  margin-bottom: 1rem;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}

.login-btn {
  border: none;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  color: #7439db;
  margin-top: 2rem;
}

.link-btn {
  margin-top: 2rem;
  background: none;
  color: white;
  border: none;
}
