.login {
  display: flex;
  min-height: calc(100vh - 56px);
  align-items: center;
  justify-content: center;
  color: white;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 54%, rgba(0, 212, 255, 1) 100%);
}

.login .auth-form-container,
.login .login-form,
.login .register-form {
  display: flex;
  flex-direction: column;
}

.login label {
  text-align: left;
  padding: 0.25rem 0;
}

.login .input-form {
  min-width: 26.25rem;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}

.login .login-btn {
  border: none;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  color: #7439db;
  margin-top: 1rem;
}

.login .link-btn {
  margin-top: 1rem;
  background: none;
  color: white;
  border: none;
}

.login .error {
  margin-top: 0.5rem;
  color: #ff3333;
}
